{% extends '_AccountMianLayout.html' %}
{% load static %}


{% block title  %} Register {% endblock %}
{% block body %}

                <h3 style="color:red ;">{{ form.full_name.errors }}</h3>
                <h3 style="color:red ;">{{ form.email.errors }}</h3>
                <h3 style="color:red ;">{{ form.phone.errors }}</h3>
                <h3 style="color:red ;">{{ form.password1.errors }}</h3>
                <h3 style="color:red ;">{{ form.password2.errors }}</h3>

    <div class="login" >
        <h2>Sign up</h2>
        <form method="post">{% csrf_token %}
          {{ form.full_name.label_tag }}
          {{ form.full_name }}<br>

          {{ form.email.label_tag }}
          {{ form.email }}<br>

          {{ form.phone.label_tag }}
          {{ form.phone }}<br>

          {{ form.password1.label_tag }}
          {{ form.password1 }}<br>

          {{ form.password2.label_tag }}
          {{ form.password2 }}<br>
            <button type="submit" class="btn btn-primary btn-block btn-large">Register</button>
        </form>
    </div>

{% endblock %}



