{% extends '_AccountMianLayout.html' %}
{% load static %}


{% block title  %} Register {% endblock %}
{% block body %}

    <div class="login" style="overflow:auto">
        <h2>Sign up</h2>
        <form method="post">{% csrf_token %}
          {{ form.full_name.label_tag }}
          {{ form.full_name.errors }}<br>
          {{ form.full_name }}<br>

          {{ form.email.label_tag }}
          {{ form.email.errors }}<br>
          {{ form.email }}<br>

          {{ form.phone.label_tag }}
          {{ form.phone.errors }}<br>
          {{ form.phone }}<br>

          {{ form.password1.label_tag }}
          {{ form.password1.errors }}<br>
          {{ form.password1 }}<br>

          {{ form.password2.label_tag }}
          {{ form.password2.errors }}<br>
          {{ form.password2 }}<br>
            <button type="submit" class="btn btn-primary btn-block btn-large">Register</button>
        </form>
    </div>

{% endblock %}



