{% load static %}
<!-- >> JS
============================================================================== -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="static/cv/vendor/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="static/cv/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="static/cv/vendor/validate.js"></script>
<!-- Holder JS -->
<script src="static/cv/vendor/holder.js"></script>
<!-- Modal box-->
<script src="static/cv/vendor/nivo-lightbox/nivo-lightbox.min.js"></script>
<!-- /Modal Box -->
<!-- Perfect ScrolBar -->
<script src="static/cv/vendor/perfect-scrollbar/js/min/perfect-scrollbar.jquery.min.js"></script>
<!-- /Perfect ScrolBar -->
<!-- Owl Caroulsel -->
<script src="static/cv/vendor/owl.carousel/owl-carousel/owl.carousel.js"></script>
<!-- Cross-browser -->
<script src="static/cv/vendor/cross-browser.js"></script>
<!-- Main Scripts -->
<script src="static/cv/js/main.js"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="vendor/html5shiv.js"></script>
  <script src="vendor/respond.min.js"></script>
<![endif]-->
<!-- >> /JS
============================================================================= -->