{% extends '_AccountMianLayout.html' %}
{% load static %}


{% block title  %} Login {% endblock %}
{% block body %}

    <div class="login">
        <h1>Login</h1>
        <form enctype = "multipart/form-data" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
        </form>
        <p><a style='color:white' href="{% url 'account:password_reset' %}">فراموشی رمز عبور</a></p>
        <p><a style='color:white' href="{% url 'user_register' %}">ثبت نام</a></p>
    </div>
    
{% endblock %}
