{% extends '_AccountMianLayout.html' %}
{% load static %}


{% block title  %} Password Reset {% endblock %}
{% block body %}

    <div class="login">
        <h1>Password Reset</h1>
        <p>Forgotten your password? Enter your email address for setting a new one.</p>
        <form enctype = "multipart/form-data" method="post">
            {% csrf_token %}
            {{ form.email.errors }}
            <label for="id_email">Email address:</label>
            {{ form.email }}
            <button type="submit" class="btn btn-primary btn-block btn-large">Reset My Password</button>
        </form>
    </div>

{% endblock %}