<!doctype html>
<html lang="en">
  <head>
    {% include 'income/header_ref.html' %}
    {% block header_ref %}{% endblock %}
  </head>
  <body>

    <!--Header-->
    <div class="header">
      <h1>Hafez Paidary</h1> 
      <p>Welcome to Income Management System</p>
    </div>  
    
    <!--Navigation-->
    <ul>
       {% if request.user.is_authenticated %}
         <li><a href="{% url 'account:logout' %}">Logout</a></li>
       {% else %}
         <li><a href="{% url 'account:login' %}">login</a></li>
       {% endif %}

      <li><a href="{% url 'income:home' %}">Home</a></li>
      <li><a href="{% url 'income:incomelist' %}">List</a></li>
      <li><a href="{% url 'income:create' %}">Create</a></li>
      <li><a style="margin-left: 5px;" href="{% url 'account:profile' %}">Profile</a></li>
       <li>
         <form action="{% url 'income:search' %}" method="get">
           <input type="text" placeholder="جستـجو" value="{{ request.GET.q }}" name="q"/>
           <button type="submit">search</button>
         </form>
       </li>
      <h4 style="color: #f9f9f9;">خوش آمدید {{request.user.username}} سلام </h4>

    </ul>
  

    {% block body %}

    {% endblock %}

  </body>
</html>